body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logout:hover{
  color : purple ;
  background-color: orange ;
  cursor: grab;
  font-weight : bold ;
}
#rou:hover{
  color : purple ;
  background-color: orange ;
  cursor:progress ;
}
#rou{
  color : black ;
  font-weight : bold ;
  font-family : 'Courgette' , cursive ;
}
#font{
  font-weight : bold ;
  font-family : 'Courgette' , cursive ;
}
#fontt{
  font-family : 'Courgette' , cursive ;
}
#fontFoter{
  font-family : 'Courgette' , cursive ;
  font-size: 12px ;
  color : orange ;
}
.section{
  margin : 10px ;
  display : inline-block ;
}
#fontApp{
  font-family : 'Courgette' , cursive ;
text-align: center;
}
#fontHeader{
  color : orange ;
  font-family : 'Courgette' , cursive ;
}
#ADD{
font-weight : bold ;
font-family : 'Courgette' , cursive ;
}
#ADD:hover{
  color : purple ;
  background-color: orange ;
  cursor: grab;
  font-weight : bold ;
}
.Bu{
  float : right ;
  padding-right : 20% ;
}